.header{
    height: 70px;
    background-color: #52503B;
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
}

.header__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col{
    display: flex;
    width: 33.33333333%;
}

.header__links{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__link{
    padding: 12px;
}

.header__button{
    display: flex;
}

.header-button-col{
    justify-content: right;
}